name: Java to Bedrock (Manual)
on:
  workflow_dispatch:
    inputs:
      java_pack_url:
        description: 'Java 资源包直链'
        required: true
        default: 'https://github.com/AfenLeoht/farmerspack/raw/main/4.zip'
      block_material:
        description: '方块材质 (Block Material)'
        required: true
        type: choice
        options:
          - alpha_test
          - opaque
          - blend
        default: 'alpha_test'
      attachable_material:
        description: '附着物材质 (Attachable Material)'
        required: true
        type: choice
        options:
          - entity_alphatest_one_sided
          - entity_alphatest
          - entity_alphablend
        default: 'entity_alphatest_one_sided'

jobs:
  convert-pack:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17

      - name: Update APT and Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y moreutils zip imagemagick uuid-runtime
          yarn global add spritesheet-js

      - name: Run Converter
        env: 
          PACK_URL: ${{ github.event.inputs.java_pack_url }}
          B_MAT: ${{ github.event.inputs.block_material }}
          A_MAT: ${{ github.event.inputs.attachable_material }}
        run: |
          mkdir -p staging
          cp converter.sh staging/
          cd staging
          chmod +x converter.sh
          curl -#L -o input_pack.zip "$PACK_URL"
          # 这里把你的选择传给脚本
          ./converter.sh input_pack.zip -w "false" -u "true" -b "$B_MAT" -a "$A_MAT"

      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: Converted_Pack_Files
          path: |
            staging/target/geyser_mappings.json
            staging/target/packaged/geyser_resources.mcpack
            staging/target/packaged/geyser_addon.mcaddon
